@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        font-family: 'Josefin Sans', sans-serif;
    }
}

.react-reveal {
    animation-fill-mode: backwards !important;
}

.popUpImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: auto;
}

.pop {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}